/obj/
/bin/
/alire/
/config/

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,ada
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,ada

### Ada ###
# Object file
*.o

# Ada Library Information
*.ali

### VisualStudioCode ###
.vscode/
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,ada
